[general]

servername=Asteriska
enabled={{ default .Env.HTTP_ENABLED "no" }}
bindaddr={{ default .Env.HTTP_LISTEN_ADDRESS "127.0.0.1" }}
bindport={{ default .Env.HTTP_PORT "8088" }}
enablestatic=yes

[post_mappings]
uploads = /var/lib/asterisk/uploads/
