<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record model="ir.actions.act_window" id="asterisk_server_action">
      <field name="name">Asterisk Servers</field>
      <field name="res_model">asterisk.server</field>
      <field name="view_mode">tree,form</field>
  </record>

  <menuitem id="asterisk_server_menu" parent="asterisk_menu" sequence="100"
      action="asterisk_server_action" name="Servers"/>

  <record model="ir.ui.view" id="asterisk_server_list">
      <field name="name">asterisk servers</field>
      <field name="model">asterisk.server</field>
      <field name="arch" type="xml">
          <tree>
              <field name="name"/>
              <field name="uid"/>
              <field name="host"/>
          </tree>
      </field>
  </record>

  <record id="server_cli_action" model="ir.actions.client">
      <field name="name">server cli action</field>
      <field name="tag">server_cli</field>
  </record>

  <record model="ir.ui.view" id="asterisk_server_form">
      <field name="name">asterisk server form</field>
      <field name="model">asterisk.server</field>
      <field name="arch" type="xml">
          <form>
              <header>
                  <button name="upload_all_conf" type="object" icon="fa-upload"
                      string="Upload Conf Files" class="oe_highlight"/>
                  <button name="download_all_conf" type="object" icon="fa-download"
                      string="Download Conf Files"/>
              </header>
              <sheet>
                <notebook>
                  <page string="Settings">
                    <group>
                      <group>
                        <field name='uid'/>
                        <field name='name'/>
                        <field name='host'/>
                        <field name='note'/>
                        <field name="cli_url" widget='url'/>
                      </group>
                      <group>
                        <field name='ami_username'/>
                        <field name='ami_password'/>
                        <field name='ami_port'/>
                        <field name='http_port'/>
                        <field name='use_https'/>
                        <field name='https_port' attrs="{'invisible': [('use_https', '=', False)]}"/>
                        <field name='certificate' attrs="{'invisible': [('use_https', '=', False)]}"/>
                        <field name='key' attrs="{'invisible': [('use_https', '=', False)]}"/>
                      </group>
                    </group>
                  </page>
                  <page string="Information" attrs="{'invisible': [('write_date', '=', False)]}">
                    <group>
                      <group>
                        <field name="create_date" string="Created" readonly="1"/>
                        <field name="create_uid" string="Created by" readonly="1"/>
                        <field name="write_date" string="Updated" readonly="1"/>
                        <field name="write_uid" string="Updated by" readonly="1"/>
                      </group>
                      <group attrs="{'invisible': [('sync_date', '=', False)]}">
                        <field name="sync_date"/>
                        <field name="sync_uid"/>
                      </group>
                    </group>
                  </page>
                  <page string="Configuration files" attrs="{'invisible': [('write_date', '=', False)]}">
                    <group>
                      <field name="conf_files" nolabel="1"
                          context="{'default_server': active_id}"/>
                    </group>
                  </page>
                    <page string="Console">
                      <field name="cli_area" widget="server_cli"/>
                    </page>
                </notebook>
              </sheet>
          </form>
      </field>
  </record>

</odoo>
