<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <record id="asterisk_base_settings_form" model="ir.ui.view">
    <field name="name">Asterisk Base Configuration</field>
    <field name="model">asterisk.settings</field>
    <field name="arch" type="xml">
      <form string="Asterisk Base Configuration" class="oe_form_configuration">
        <header>
          <button string="Save" name="execute" type="object" class="oe_highlight"/>
          or <button string="Cancel" name="cancel" type="object" class="oe_link"/>
        </header>
        <group>
            <group string="Broker Server">
                <field name="mqtt_server"/>
            </group>
        </group>
        <group string="Asterisk Settings">
          <group>
            <field name="no_asterisk"/>
            <button icon="fa-gears" type="object" name="reload_ami_broker"
                    string="Reload AMI Broker"/>
          </group>
          <group>
            <field name="ssh_authorized_keys"/>
          </group>
        </group>
      </form>
    </field>
  </record>

  <record id="asterisk_base_settings_action" model="ir.actions.act_window">
    <field name="name">Asterisk Base Configuration</field>
    <field name="res_model">asterisk.settings</field>
    <field name="view_id" ref="asterisk_base_settings_form"/>
    <field name="view_mode">form</field>
    <field name="target">inline</field>
  </record>

  <menuitem id="asterisk_base_settings_menu" name="Base Settings"
    parent="asterisk_settings_menu" action="asterisk_base_settings_action"/>

</odoo>
